html,
body {
    margin: 0;
    height: 100%;
    min-width: 650px;
}

body {
    display: grid;
    grid-template-rows: 90px repeat(1, 1fr) 50px;
    color: #071108;
}

nav {
    grid-column: 1/5;
    background-color: #ff8c00;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto repeat(1, 1fr);
}

.logo {
    display: grid;
    justify-items: center;
    align-content: center;
}

.subheading {
    font-weight: bold;
    font-size: 10px;
}

.heading {
    font-weight: bold;
    font-size: 30px;
}

.nav-items {
    grid-column: 3/4;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
}

nav a {
    text-decoration: none;
    color: #071108;
    padding: 1rem;
    font-weight: 400;
    font-size: 1rem;
}

footer {
    grid-column: 1/5;
    background-color: #7d4f50;
    display: grid;
    align-items: center;
    justify-content: end;
}

footer>div {
    color: #f9eae1;
    padding: 0.4rem;
}

.main {
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px repeat(4, 1fr) auto;
}

.services {
    background-color: #f9eae1;
    grid-row: 1 / 7;
    padding: 0.5rem;
    display: grid;
    align-content: center;
}

.services h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.services li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.slogan-section {
    background-color: #fcbb71;
    grid-column: 2 / 5;
    padding: 0.5rem;
    display: grid;
    justify-content: center;
    align-items: center;

}

.slogan {
    font-size: 100%;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.4;
    text-transform: uppercase;
}

.detective {
    background-color: #CFBEDA;
    grid-column: 2 / 4;
    grid-row: 2 / 6;
    text-align: center;
    padding: 1.2rem;
}

.detective-title {
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.detective-photo {
    max-width: 85%;
    height: auto;
    border-radius: 10px;
}

.founding-section {
    background: #A491D3;
    grid-column: 4 / 5;
    grid-row: 2 / 7;
    padding: 20px;
}

.founding-title {
    margin-bottom: 10px;
}

.founding-text {
    font-size: 1rem;
    margin-bottom: 20px;
}

.founding-highlights {
    padding-left: 20px;
    font-size: 1rem;
}

.news-section {
    background-color: #bb9d99;
    grid-row: 6 / 7;
    grid-column: 2 / 4;
    padding: 10px;
}

.news-heading {
    font-size: 1rem;
    text-align: center;
}

.news-description {
    font-size: 0.8rem;
}